.ui-header > div {
    display: inline-block;
    margin-left: 1em;
}

.container > div,
.container .day {
    float: left;
}

.container .shifts > div,
.container .day > div {
    width: 20px;
    height: 20px;
    text-align: center;
    border-right: 1px solid darkseagreen;
    border-bottom: 1px solid darkseagreen;
}

.container .shifts > div {
    width: 40px;
    font-weight: bold;
}

.container .day .num {
    font-size: 9px;
    line-height: 20px;
    text-align: center;
}

.container .days {
    width: calc(100% - 41px); /*minus shift labels width*/
    height: 110px;
    overflow-x: auto;
    overflow-y: hidden;
}

.container .days > .scroller {
    width: calc(21px * 31); /*cell width * months count*/
    height: 110px;
}
