/*other components*/
div[data-role="footer"] {
    bottom: 0;
    padding-bottom: 0;
}

div[data-role="footer"]:after {
    content: 'v1.03';
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 5px;
    font-weight: normal;
}

.ui-content {
    padding: 5px;
}

.ui-header > div {
    display: inline-block;
    margin-left: 1em;
}

.ui-header > .ui-input-text {
    width: 150px;
}

.ui-header > a {
    margin: .4em !important;
}

.ui-datepicker-week-end > * {
    color: #ff5050 !important;
}

/*main container*/
.container > div,
.container .values > .day {
    float: left;
}

.container .cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    border-right: 1px solid darkseagreen;
    border-bottom: 1px solid darkseagreen;
}

.container .shifts > .cell {
    width: 40px;
    font-weight: bold;
    border-left: 1px solid darkseagreen;
}

.container .shifts > .cell:first-child {
    border-top: 1px solid darkseagreen;
}

.container .days {
    width: calc(100% - 42px); /*minus shift labels width*/
    overflow-x: auto;
    overflow-y: hidden;
}

.container .days > .scroller {
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: -ms-max-content;
}

.container .days > .scroller > div {
    display: -ms-flexbox;
}

.container .days .headers > .cell {
    font-size: 9px;
    line-height: 20px;
    border-top: 1px solid darkseagreen;
    float: left;
}

.container .day.selected {
    background-color: lightgreen;
}

.container .cell.weekend {
    color: #ff5050;
}

.container .day.hide {
    display: none;
}
